<div class="columns">
    <div class="column">
        <div class="box">
            <a href="https://imgur.com/iuiT7Y8"><img src="https://i.imgur.com/iuiT7Y8.jpg" title="source: imgur.com" /></a>
        </div>
    </div>
    <div class="column">
        <p style="font-family:Times New Roman;font-size: 48px">"Me, a photographer?</p>
        <p style="font-family:Times New Roman;font-size: 48px">It's more unlikely than you think."</p>
I'm no fancy pro photographer but I do enjoy taking pictures
as much as the next person. Typically, people share their pictures
on places like Facebook or Instagram but that's no fun. Why not build a dedicated little website
for these things?
In all seriousness, this is meant as a playground for me to try new things to the site while showing
off some pictures that have never been posted anywhere else. Hope you enjoy the pictures 
and stick around for more content!
</div>
</div>