<style>
    div.about {
        line-height: 92%;
    }

    div.tab-space {
        display: inline-block;
        margin-left: 40px;
    }
</style>
<br>
<div class="container is-max-desktop">
<div class="columns is-gapless">
    <div class="column">
        <img src="https://i.imgur.com/obyMYt9.jpg" />
    </div>
    <div class="column">
        <div class="about" style="font-family:Times New Roman;font-size:30px">
            "Me, a photographer?<br>
            <div class="tab-space">It's more unlikely than you think."</div>
        </div>
        <br>
        <div style="font-size:18px">
        I'm no fancy pro photographer but I do enjoy taking pictures
        as much as the next person. Typically, people share their pictures
        on places like Facebook or Instagram but that's no fun. Why not build a dedicated little website
        for these things?<br>
        In all seriousness, this is meant as a playground for me to try new things to the site while showing
        off some pictures that have never been posted anywhere else.<br>
        Hope you enjoy the pictures 
        and stick around for more content!
        </div>
    </div>
</div>
</div>
